# Environment Configuration
NODE_ENV=development
PORT=3000

# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/BEdatxe

# JWT Secret Key (Dùng để tạo token đăng nhập)
JWT_SECRET=your-secret-key-change-this-in-production

# Cấu hình VNPay 
VNP_TMN_CODE=YU26CAHR
VNP_HASH_SECRET=IP1KMFRBJ38MZYNVV9UJQIACRY61ZPH9
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay_return